@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);

body {
  font-family: 'Lato', Arial;
  color: #666666;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  width: 100%;
}
a {
  font-family: 'Lato', Arial;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: #666666;
}

/************************************************/
/*NOVOS AJUSTES NO TEMPLATE/
/************************************************/


.section-heading {
  margin: 20px 0px;
  text-align: center;
}
.section-heading h1 {
  display: inline-block;
  font-size: 45px;
  font-weight: 300;
  margin-bottom: 0;
}
.section-heading p {
  font-size: 25px;
  color: #999999;
  font-weight: 300;
}
.section-heading .divider:after {
  content: "";
  position: relative;
  height: 4px;
  width: 60px;
  display: block;
  text-align: center;
  margin: 13px auto;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em;
}
.section-heading.inverse h1,
.section-heading.inverse p {
  color: #ffffff;
}
.section-heading.inverse .divider:after {
  background: #ffffff;
}

.btn {
  -webkit-border-radius: 3em;
  -moz-border-radius: 3em;
  -ms-border-radius: 3em;
  -o-border-radius: 3em;
  border-radius: 3em;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 5px 25px;
}
.btn.btn-primary {
  border: 2px solid #ffffff;
  background: none;
  color: #ffffff;
}
.btn.btn-primary:hover {
  color: #ffffff;
}

.btn:hover {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.btn.btn-primary {
  color: #66cdcc;
  border-color: #66cdcc;
}
.btn.btn-primary:hover {
  color: #ffffff;
  background: #66cdcc;
  border-color: #66cdcc;
}
.btn.btn-primary.inverse {
  color: #ffffff;
  border-color: #ffffff;
}
.btn.btn-primary.inverse:hover {
  color: #ffffff;
  background: #ffbc1a;
}

.area-de-patrocinio {
  height: 30px;
}

.content-information {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo {
  margin-top: 1em;
}

@media screen and (min-width: 320px) {
  .main-obrigado {
    height: calc(100% - 30px);
  }

  .content-information {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  h1, p {
    margin-top: 0;
  }

  .section-heading h1 {
    font-size: 40px;
  }
}

@media screen and (min-width: 768px) {
  .main-obrigado {
    height: calc(100% - 30px);
    margin-top: 15em;  
  }

  .content-information {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  h1, p {
    margin-top: 0;
  }

  .section-heading h1 {
    font-size: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .main-obrigado {
    margin-top: 10em;  
  }
}

@media screen and (min-width: 1400px) {
  .main-obrigado {
    margin-top: 11em;  
  }
}